body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#pageNavbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
}

.nav-item:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.2);
}

/* Home */
.homeBackground {
  background-image: url("./images/croppedM82.jpg");
}

.backgroundShift {
  position: absolute;
  top: 0;
  z-index: -1;
}

#header {
  color: white;
}

#headerName {
  font-size: 65px;
  margin-bottom: 10px;
}

#headerDivider {
  background: white;
  width: 60%;
}

#headerTitle {
  margin-top: 10px;
  margin-bottom: 70px;
  font-size: 35px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  text-decoration: none;
}
